* {
    text-align: right;
}

body {
    background-image: url(https://images.unsplash.com/photo-1682589835488-ee23d69183b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=459&q=80);
    background-size: cover;
}

h2 {
    color: red;
}

p {
    color: rgb(140, 10, 5);
    text-align: center;
    border: 5px solid #8a2e6190;
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: lighter;
    font-size: 100%;
    font-family: 'Dancing Script', cursive;
    word-spacing: 1em;
    font-variant: small-caps;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:first-child {
    border: 5px dashed rgba(119, 74, 142, 0.5);
}

.active {
    color: #AA3C39;
}

#div1 {
    background: #ce8aafd8;
}

#div2 {
    background: #9874aad8;
}