@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Philosopher:ital@0;1&family=Special+Elite&display=swap');

/*assign background settings*/
body {
    height: 1955px;
    background-image: url('cenobite/alex-foret-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: forest-move 10s infinite;
}

/*animate the background*/
@keyframes forest-move {
    from {
        background-image: url("cenobite/marek-unsplash.png");
    }

    50% {
        background-image: url('cenobite/alex-foret-unsplash.png');

    }

    to {
        background-image: url("cenobite/marek-unsplash.png");

    }
}

header,
.leftbar,
.list,
.mypage,
.page {
    display: flex;
}

header {
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
    left: 10vw;
    top: 1vh;
    animation: header-move 10s infinite;
}

@keyframes header-move {
    from {
        color: black;
        background-color: whitesmoke;
    }

    50% {
        color: whitesmoke;
        background-color: black;
    }

    to {
        color: black;
        background-color: whitesmoke;
    }
}

h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3cqw;
    padding-left: 1vw;
}

.mypage a,
.list a {
    padding: 1cqw;
    text-align: center;
}

.mypage a {
    font-family: 'Special Elite', cursive;
    font-weight: lighter;
    font-size: 1.2vw;
}

.list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: max-content;

}

.list a {
    font-family: 'Philosopher', sans-serif;
    font-size: 2vw;
}

.mypage {
    align-items: center;
    width: 15vw;
}

.leftbar {
    height: 80vh;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 15vh;
    left: 3vw
}

.list,
.mypage {
    border-radius: 2cqw;
    animation: move 10s infinite;
}

@keyframes move {
    from {
        background-color: rgba(10, 10, 10, 0.8);
    }

    50% {

        background-color: rgba(250, 250, 250, 0.1);
    }

    to {
        background-color: rgba(10, 10, 10, 0.8);
    }
}

a:link {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

a:visited,
a:hover,
a:active,
a:focus {
    color: rgb(250, 250, 250);
}

a {
    text-shadow: red 0 0, 0 0 0.8cqw rgba(255, 0, 0, 0.6),
        0 0 0.8cqw rgba(255, 0, 0, 0.6);
}

a:hover {
    font-weight: bold;
}

/*--------------------------------*/
.content {
    margin-top: 1.5vh;
    margin-left: 20vw;
    top: 11.5vh;
    left: 20vw;
    height: max-content;
    overflow-y: auto;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Стили для скроллбара */
.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.content::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.content::-webkit-scrollbar-track {
    background-color: transparent;
}

p[id] {
    scroll-margin-top: 19vh;
}

h1,
h3 {
    animation: letter-move 10s infinite;
    padding-left: 5vw;
}

@keyframes letter-move {
    frome {
        text-shadow: none;
    }

    50% {
        text-shadow: black 0 0, 0 0 0.8cqw rgba(255, 0, 0, 0.6),
            0 0 0.8cqw rgba(255, 0, 0, 0.6);
    }

    to {
        text-shadow: none;
    }
}

h1+p {
    font-size: larger;
    line-height: 250%;
}

/*-------------------------------*/
.page {
    width: 95vw;
    padding-top: 12vh;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

p {
    font-family: 'Cabin Sketch', cursive;
    color: whitesmoke;
    font-size: 1.5cqw;
    padding-bottom: 10%;
    padding-left: 2%;
}

/*-----------------------------------*/

.about {
    display: block;
    position: absolute;
    top: 130%;
    left: 40%;
    z-index: 50;
    color: red;
    font-family: 'Special Elite', cursive;
    font-size: 2.5vw;
    font-weight: lighter;
    background-color: black;
}

/*----------------------------------*/

footer {
    width: 35vw;
    height: 10vh;
    position: fixed;
    right: 30vw;
    bottom: 1vh;
    border: 2px solid green;
}

footer a {
    color: #f70707;
    text-decoration: none;
    text-align: center;
}

/*--------*/

#myBtn {
    display: none;
    bottom: 5vh;

}

#down {
    display: block;
    top: 15vh;
}

#myBtn,
#down {
    position: fixed;
    right: 30px;
    z-index: 99;
    font-size: 1em;
    font-family: 'Cinzel Decorative', cursive;
    border: none;
    outline: none;
    background-color: rgb(6, 6, 6);
    color: white;
    text-shadow: red 1px 0, 0 0 2px white, 0 0 2px white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5cqw;
}

#myBtn:hover,
#down:hover {
    background-color: #555;
}