* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.oddNum {
    background-color: rgb(248, 138, 156);

}

#evenNum2 {
    color: rgb(15, 15, 151);
    font-size: 36px;
}

.num3 {
    font-size: 24px;
}

#evenNum4 {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(138, 199, 138);
}